/** CSS **/

/***************** FONTS *****************/

@font-face {
  font-family: 'Adelle Light';
  src: url('/assets/fonts/adelle-light/adelle-light.eot?') format('eot'), url('/assets/fonts/adelle-light/adelle-light.woff') format('woff'), url('/assets/fonts/adelle-light/adelle-light.ttf') format('truetype');
}

@font-face {
  font-family: 'Adelle Light Italic';
  src: url('/assets/fonts/adelle-light-italic/adelle-light-italic.eot?') format('eot'), url('/assets/fonts/adelle-light-italic/adelle-light-italic.woff') format('woff'), url('/assets/fonts/adelle-light-italic/adelle-light-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Adelle Regular';
  src: url('/assets/fonts/adelle-regular/adelle-regular.eot?') format('eot'), url('/assets/fonts/adelle-regular/adelle-regular.woff') format('woff'), url('/assets/fonts/adelle-regular/adelle-regular.ttf') format('truetype');
}

/***************** GLOBAL RULES *****************/

body {
	font-family: "Adelle Regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	color: #323232;
	text-align: center;
	-webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
	color: inherit;
}

*:focus {
	outline: none;
	outline: 0;
}

.delay-300ms {
	-moz-animation-delay: 300ms;
	-webkit-animation-delay: 300ms;
	-o-animation-delay: 300ms;
	animation-delay: 300ms;
}

/***************** DIVS *****************/

#container {
	width: 100%;
	min-width: 960px;
	margin: auto;
}

.block {
	width: 100%;
	min-height: 600px;
	padding: 200px auto;
	overflow: auto;
}

.white {
	background-color: white;
}

.grey {
	background-color: #F8F8F8;
}

#hero {
	height: 100%;
	background-image: url('/assets/images/blueprint.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#hero-content {
	margin: auto;
	width: 550px;
}

#logo {
	cursor: pointer;
}

#about {
	border-top: 5px solid #E35538;
}

#faq {
	border-top: 5px solid #27A77B;
}

#sponsors {
	border-top: 5px solid #52A5D1;
}

#final {
	border-top: 5px solid #E35538;
}

footer {
	background-color: #4A4A4A;
	min-height: 100px;
	line-height: 100px;
}

footer:hover {
	color: #;
}

/***************** CONTENT *****************/

/***************** Hero *****************/

h1 {
	font-size: 2.5em;
	margin-top: 4em;
	text-transform: uppercase;
}

.makeathon-text {
	font-size: 2em;
}

/***************** Color Box *****************/

.color-border {
	width: 100%;
	height: 7px;
	text-align: left;
}

.color-box {
	width: 33%;
	height: 7px;
	display: inline-block;
}

.red {
	background-color: #E35538;
}

.green, .blue {
	margin-left: -5px;
}

.green {
	background-color: #27A77B;
}

.blue {
	background-color: #52A5D1;
}

/***************** Date and Location *****************/

#hero-content > h2 {
	margin: 30px auto;
	font-size: 1.2em;
}

.date, .location {
	opacity: 0.8;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
}

.date-text, .location-text {
	border-bottom: 1px dotted #606060;
	margin: auto 5px;
}

.date:hover, .location:hover {
	opacity: 1;
}

.date {
	margin-right: 15px;
}

/***************** Registration Form *****************/

.email-input, .register-button {
	display: inline-block;
	height: 40px;
	padding: 0 10px;

	font-family: 'Adelle Light Italic';
	font-size: 1em;

	background: rgba(255,255,255,0.50);
	border: 2px solid #4A4A4A;
	-moz-box-shadow:    0px 1px 3px 0px rgba(0,0,0,0.10);
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.10);
	box-shadow:         0px 1px 3px 0px rgba(0,0,0,0.10);
}

.email-input {
	width: 410px;
	border-right: 0px;
}

.register-button {
	height: 44px;
	width: 120px;
	cursor: pointer;
	margin-top: -1px;
	margin-left: -6px;
}

/***************** Footer *****************/

footer > p {
	color: #9B9B9B;
}

footer > p > a {
	text-decoration: none;
	color: inherit;
	border-bottom: 1px dotted #9B9B9B;
}

footer > p > a:hover {
	
}
